<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TextbookCategoriesMapper">
    
    <resultMap type="TextbookCategories" id="TextbookCategoriesResult">
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
    </resultMap>

    <sql id="selectTextbookCategoriesVo">
        select category_id, category_name from textbook_categories
    </sql>

    <select id="selectTextbookCategoriesList" parameterType="TextbookCategories" resultMap="TextbookCategoriesResult">
        <include refid="selectTextbookCategoriesVo"/>
        <where>  
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTextbookCategoriesByCategoryId" parameterType="Long" resultMap="TextbookCategoriesResult">
        <include refid="selectTextbookCategoriesVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertTextbookCategories" parameterType="TextbookCategories" useGeneratedKeys="true" keyProperty="categoryId">
        insert into textbook_categories
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
         </trim>
    </insert>

    <update id="updateTextbookCategories" parameterType="TextbookCategories">
        update textbook_categories
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteTextbookCategoriesByCategoryId" parameterType="Long">
        delete from textbook_categories where category_id = #{categoryId}
    </delete>

    <delete id="deleteTextbookCategoriesByCategoryIds" parameterType="String">
        delete from textbook_categories where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>