<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TextbookTeachingplanMapper">
    
    <resultMap type="TextbookTeachingplan" id="TextbookTeachingplanResult">
        <result property="planid"    column="planid"    />
        <result property="semester"    column="semester"    />
        <result property="courseid"    column="courseid"    />
        <result property="classid"    column="classid"    />
        <result property="teacherid"    column="teacherid"    />
        <result property="studentcount"    column="studentcount"    />
    </resultMap>

    <sql id="selectTextbookTeachingplanVo">
        select planid, semester, courseid, classid, teacherid, studentcount from textbook_teachingplan
    </sql>

    <select id="selectTextbookTeachingplanList" parameterType="TextbookTeachingplan" resultMap="TextbookTeachingplanResult">
        <include refid="selectTextbookTeachingplanVo"/>
        <where>  
            <if test="semester != null  and semester != ''"> and semester = #{semester}</if>
            <if test="courseid != null "> and courseid = #{courseid}</if>
            <if test="classid != null "> and classid = #{classid}</if>
            <if test="teacherid != null "> and teacherid = #{teacherid}</if>
            <if test="studentcount != null "> and studentcount = #{studentcount}</if>
        </where>
    </select>
    
    <select id="selectTextbookTeachingplanByPlanid" parameterType="Long" resultMap="TextbookTeachingplanResult">
        <include refid="selectTextbookTeachingplanVo"/>
        where planid = #{planid}
    </select>

    <insert id="insertTextbookTeachingplan" parameterType="TextbookTeachingplan" useGeneratedKeys="true" keyProperty="planid">
        insert into textbook_teachingplan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="semester != null">semester,</if>
            <if test="courseid != null">courseid,</if>
            <if test="classid != null">classid,</if>
            <if test="teacherid != null">teacherid,</if>
            <if test="studentcount != null">studentcount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="semester != null">#{semester},</if>
            <if test="courseid != null">#{courseid},</if>
            <if test="classid != null">#{classid},</if>
            <if test="teacherid != null">#{teacherid},</if>
            <if test="studentcount != null">#{studentcount},</if>
         </trim>
    </insert>

    <update id="updateTextbookTeachingplan" parameterType="TextbookTeachingplan">
        update textbook_teachingplan
        <trim prefix="SET" suffixOverrides=",">
            <if test="semester != null">semester = #{semester},</if>
            <if test="courseid != null">courseid = #{courseid},</if>
            <if test="classid != null">classid = #{classid},</if>
            <if test="teacherid != null">teacherid = #{teacherid},</if>
            <if test="studentcount != null">studentcount = #{studentcount},</if>
        </trim>
        where planid = #{planid}
    </update>

    <delete id="deleteTextbookTeachingplanByPlanid" parameterType="Long">
        delete from textbook_teachingplan where planid = #{planid}
    </delete>

    <delete id="deleteTextbookTeachingplanByPlanids" parameterType="String">
        delete from textbook_teachingplan where planid in 
        <foreach item="planid" collection="array" open="(" separator="," close=")">
            #{planid}
        </foreach>
    </delete>
</mapper>