<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TextbookCourseMapper">
    
    <resultMap type="TextbookCourse" id="TextbookCourseResult">
        <result property="courseId"    column="courseId"    />
        <result property="coursename"    column="coursename"    />
        <result property="coursecode"    column="coursecode"    />
        <result property="credits"    column="credits"    />
        <result property="category"    column="category"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectTextbookCourseVo">
        select courseId, coursename, coursecode, credits, category, description from textbook_course
    </sql>

    <select id="selectTextbookCourseList" parameterType="TextbookCourse" resultMap="TextbookCourseResult">
        <include refid="selectTextbookCourseVo"/>
        <where>  
            <if test="coursename != null  and coursename != ''"> and coursename like concat('%', #{coursename}, '%')</if>
            <if test="coursecode != null  and coursecode != ''"> and coursecode = #{coursecode}</if>
            <if test="credits != null "> and credits = #{credits}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectTextbookCourseByCourseId" parameterType="Long" resultMap="TextbookCourseResult">
        <include refid="selectTextbookCourseVo"/>
        where courseId = #{courseId}
    </select>

    <insert id="insertTextbookCourse" parameterType="TextbookCourse" useGeneratedKeys="true" keyProperty="courseId">
        insert into textbook_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coursename != null">coursename,</if>
            <if test="coursecode != null">coursecode,</if>
            <if test="credits != null">credits,</if>
            <if test="category != null">category,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coursename != null">#{coursename},</if>
            <if test="coursecode != null">#{coursecode},</if>
            <if test="credits != null">#{credits},</if>
            <if test="category != null">#{category},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateTextbookCourse" parameterType="TextbookCourse">
        update textbook_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="coursename != null">coursename = #{coursename},</if>
            <if test="coursecode != null">coursecode = #{coursecode},</if>
            <if test="credits != null">credits = #{credits},</if>
            <if test="category != null">category = #{category},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where courseId = #{courseId}
    </update>

    <delete id="deleteTextbookCourseByCourseId" parameterType="Long">
        delete from textbook_course where courseId = #{courseId}
    </delete>

    <delete id="deleteTextbookCourseByCourseIds" parameterType="String">
        delete from textbook_course where courseId in 
        <foreach item="courseId" collection="array" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </delete>
</mapper>